<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragment/layout/layoutMain :: base-content}">>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragment/layout/layoutMain}">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<body>
<!--    <main th:fragment="~{/fragment/layout/layoutMain :: base-content}">-->
    <main layout:fragment="content">
    <header class="masthead">
        <section class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6 text-center text-white">
                    <h1 class="mb-5">수백개의 영화, TV 프로그램, <br/>배우들을 검색해 보세요!</h1>

                    <form class="label-lg" id="searchForm">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" id="searchInput" placeholder="영화, TV 프로그램, 인물 검색.." data-sb-validations="required" />
                            </div>
                            <div class="col-auto"><button class="btn btn-primary btn-lg" id="searchButton" type="submit">검색</button></div>
                        </div>
                    </form>

                </div>
            </div>
        </section>
    </header>
    </main>
</body>
</html>