<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragment/layout/layoutMain}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <main layout:fragment="content">

        <section class="container position-relative">
            <section class="form-include mb-lg-5 mt-lg-5" >
                <form role="form" th:action="@{/login}" th:object="${loginUser}" method="post">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="mb-3 form-floating">
                                <input type="text" th:field="*{username}" class="form-control" th:id="username" th:placeholder="ID">
                                <label th:for="username">I D</label>
                            </div>
                            <div class="form-group  form-floating">
                                <input type="password" th:field="*{password}" class="form-control" th:id="password" th:placeholder="PASSWORD">
                                <label th:for="password">PASSWORD</label>
                            </div>
                            <div class="row">
                                <div class="col-form-label-lg">
                                    <input type="submit" class="btn btn-primary float-lg-end col-2" id="btnLogin" th:value="로그인" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </section>


    </main>

</body>
</html>