<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

    <title>Movie Storage - users</title>
</head>
<body>
<h1>Movie Storage User List</h1>

<div class="row">
    <div class="col">사용자 ID</div>
    <div class="col">이름</div>
    <div class="col">나이</div>
    <div class="col">성별</div>
</div>
<div class="row" th:each="user: ${users}">
    <div class="col" th:text="${user.username}">사용자 ID</div>
    <div class="col" th:text="${user.name}">이름</div>
    <div class="col" th:text="${user.age}">나이</div>
    <div class="col" th:switch="${user.sex.getSex()}">
        <span th:case="MALE">남성</span>
        <span th:case="FEMALE">여성</span>
        <span th:case="NON_BINARY">논 바이너리</span>
    </div>
</div>

</body>
</html>