<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moviestorage.moviestorage.repository.VideoMapper">

    <select id="selectAllVideos" resultType="VideoVO">
        SELECT m.id
             , m.title
             , m.director directors
             , m.summary
             , m.overview
             , m.age_rate ageRate
             , m.score
             , m.type media_type
             , (
                SELECT GROUP_CONCAT(id, '_', name)
                FROM actors a
                    LEFT JOIN movie_casting mc
                    ON a.id = mc.actor_id
                where mc.movie_id = m.id
            ) casting
        FROM movies m
        ;
    </select>


    <select id="selectVideos" resultType="VideoVO" parameterType="String">
        SELECT m.id
             , m.title
             , m.director directors
             , m.summary
             , m.overview
             , m.age_rate ageRate
             , m.score
             , m.type media_type
             , (
            SELECT GROUP_CONCAT(id, '_', name)
            FROM actors a
                     LEFT JOIN movie_casting mc
                               ON a.id = mc.actor_id
            where mc.movie_id = m.id
        ) casting
        from movies m
        where m.title like '%'#{keyword}'%'
        or m.director like '%'#{keyword}'%'
        and m.type = #{type}
        ;
    </select>


</mapper>